@keyframes animateCloud {
  0%{margin-left: -10%;}
  100%{margin-left: 100%;}
}

.x1 {
  animation: animateCloud 35s linear infinite;
  top: 10px;
}
.x2 {
  animation: animateCloud 70s linear infinite;
  top: 12px;
  left: -25px;
}
.x3 {
  animation: animateCloud 25s linear infinite;
  top: 16px;
}

.x4 {
  animation: animateCloud 45s linear infinite;
  top: 22px;
}

.x5 {
  animation: animateCloud 37s linear infinite;
  top: 26px;
}

.x6 {
  animation: animateCloud 60s linear infinite;
  top: 28px;
  left: -20px;
}

.cloud {
  background: white;
  background: linear-gradient(top, white 5%, #F1F1F1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="#F1F1F1", GradientType=0);
  border-radius: 100px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  height: 12px;
  width: 35px;
  position: relative;
  transition: 1s linear;
}

.cloud:after, .cloud:before {
  background: #FFF;
  content: '';
  position: absolute;
}

.cloud:after {
  border-radius: 100px;
  height: 10px;
  width: 10px;
  left: 5px;
  top: -5px;
}

.cloud:before {
  border-radius: 100px;
  height: 18px;
  width: 18px;
  right: 5px;
  top: -9px;
}

#sun {
  background: url("../assets/images/sun.png") no-repeat;
  background-size: contain;
  transition: 1s linear;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  /*top: 120px; QUANDO È NOTTE */
  right: 20px;
}

#moon {
  background: url("../assets/images/moon.png") no-repeat;
  background-size: contain;
  transition: 1s linear;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 120px;
  /*top: 35px; QUANDO È NOTTE */
  left: 20px;
}
