body {
  margin: 0;
  background: #7CB342;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  margin: 0;
}

#header {
  height: 30%;
  background: red;
}

#sky {
  height: 70%;
  background: #B2EBF2;
  z-index: -9;
}

#timer {
  height: 30%;
  background: #684D43;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  text-align: center;
  line-height: 135%;
  color: #E1DED1;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 40px;
}

#timer div {
  background-color: rgba(0,0,0,0.4);
  width: 10%;
  height: 7%;
  border-radius: 5px;
  margin: 0.6% auto;
  position: absolute;
  left: 45%;
  -webkit-box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.2);
  box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.2);
}

#main_container {
  margin: 2% auto 2% auto;
  background: #F5F5F5;
  height: 70%;
  width: 70%;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 15px 1px rgba(0,0,0,.15);
  box-shadow: 0 3px 15px 1px rgba(0,0,0,.15);
}

#list_users {
  height: 51.3%;
  background: #684D43;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(252, 252, 252, 0) 100%);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 7px;
}

#list_users > div {
  background-color: rgba(0,0,0,0.3);
  width: 65.8%;
  height: 27%;
  border-radius: 7px;
  margin: 1.4% auto;
  position: absolute;
  left: 16.6%;
  -webkit-box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  padding: 15px;
  padding-right: 0px;
}

.character {
  width: 100px;
  height: 100px;
  background: #684D43;
  border-radius: 3px;
  float: left;
  margin-right: 18.4px;
  margin-bottom: 16px;
  text-align: center;
  color: #E1DED1;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
  text-transform: uppercase;
  font-weight: bold;
}

.character:hover:not(#me):not(#most-voted):not(#selected):not(#death) {
  -webkit-box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.user_img img{
  width: 70px;
  height: 70px;
  border-radius: 3px;
}

.user_img {
  margin-top: 5px;
}

.user_name {
  margin-top: 2px;
}

#me {
  background: #3498db;
}

#me:hover, #selected:hover {
 cursor: default;
}

#selected {
  background: #f39c12 !important;
}

#death {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#most-voted {
  background: #e74c3c !important;
}

#most-voted:hover {
  -webkit-box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  background: #c0392b !important;
  cursor: pointer;
}

.voted {
  font-style: normal;
  position: absolute;
  z-index: 9;
  background-color: #FFF;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: -10px;
  border-radius: 17px;
  text-align: center;
  line-height: 28px;
  color: #000;
  text-shadow: none;
}

.voted:before {
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 15px;
  left: 0px;
  content: '';
}

#user_role {
  width: 50%;
  float: left;
  margin-top: 6%;
}

#user_role_img {
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}

#user_role_card, #user_role_faction, #user_role_desc {
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}

#user_role img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #FFF;
  -webkit-box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);
}

#log_board {
  width: 48%;
  float: left;
  margin-top: 10px;
  padding-right: 5px;
  border-radius: 10px;
}

#log_board > div {
  text-align: center;
}

#logs {
  overflow-y: auto;
  height: 35%;
  padding-left: 5px;
  -webkit-box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  box-shadow:inset 0 -1px 3px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: rgba(0,0,0,0.05);
}

#logs table {
  width: 100%;
}

#logs tr:nth-child(even) {
  background: rgba(0,0,0,0.1);
}


.content {
  padding: 25px;
}